prefect>=2.0
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asyncpg
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-sqlite3
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-api